package {{basePackage}}.controller

import {{basePackage}}.domain.BaseResource
import org.springframework.data.domain.Page
import org.springframework.data.domain.Pageable
import org.springframework.http.ResponseEntity
{{#entityHasUUID}}
import java.util.UUID
{{/entityHasUUID}}

interface CommonParameterizedController<E : BaseResource> {
    fun create(parentId: {{entityIdType}}, domain: E): ResponseEntity<E>
    fun getById(parentId: {{entityIdType}}, id: {{entityIdType}}): ResponseEntity<E>
    fun delete(parentId: {{entityIdType}}, id: {{entityIdType}}): ResponseEntity<E>
    fun update(parentId: {{entityIdType}}, id: {{entityIdType}}, domain: E): ResponseEntity<E>
    fun modify(parentId: {{entityIdType}}, id: {{entityIdType}}, domain: E): ResponseEntity<E>
    fun saveAll(parentId: {{entityIdType}}, domains: List<E>): List<E>
    fun deleteAll(parentId: {{entityIdType}}, ids: List<{{entityIdType}}>): List<E>
    fun getAll(parentId: {{entityIdType}}, search: String?, pageable : Pageable): ResponseEntity<Page<E>>
}
