@Suppress("DSL_SCOPE_VIOLATION")
plugins {
    alias(libs.plugins.kotlin.spring)
    alias(libs.plugins.owasp.dependencycheck)
    alias(libs.plugins.gitlab.arturbosch.detekt)
}

dependencies {
    implementation(kotlin("stdlib"))
    implementation(kotlin("reflect"))

    implementation(libs.org.springframework.v2.spring.boot.starter.starter)
    implementation(libs.org.springframework.v2.spring.boot.starter.actuator)
    api(libs.org.springframework.v2.spring.boot.starter.web)
    implementation(libs.org.springframework.v2.spring.data.commons)
    api(libs.org.springframework.v2.spring.boot.starter.data.jpa)

    implementation(libs.com.fasterxml.jackson.module.kotlin)
    implementation(libs.com.flo.modules.dto.library)
    implementation(libs.org.jetbrains.kotlinx.coroutines.core)
    implementation(libs.com.github.ichanzhar.rsql.hibernate.jpa)
    implementation(libs.org.postgresql)

    api("com.vladmihalcea:hibernate-types-52:2.11.1")
    api("org.springdoc:springdoc-openapi-ui:1.7.0")
    api("org.springdoc:springdoc-openapi-kotlin:1.7.0")
    api("org.springdoc:springdoc-openapi-data-rest:1.7.0")
}

tasks.getByName<Jar>("jar") { enabled = true }
