server:
  port: ${SERVER_PORT:{{serverPort}}}
  forward-headers-strategy: framework
  error:
    include-message: always

spring:
  application:
    name: {{systemLower}}-{{appNameLower}}
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev{{#keycloak.enabled}},nosecure{{/keycloak.enabled}}}
  datasource:
    url: jdbc:{{database.name}}://${DB_HOST:localhost}:${DB_PORT:{{database.port}}}/{{systemLower}}_{{appNameLower}}?autoReconnect=true&useSSL=false&rewriteBatchedStatements=true&serverTimezone=UTC&createDatabaseIfNotExist=true
    username: ${DB_USER:root}
    password: ${DB_PASS:Qw123456}
    driver-class-name: {{database.driver}}
    type: com.zaxxer.hikari.HikariDataSource
  jpa:
    open-in-view: false
    database: {{database.type}}
    hibernate:
      ddl-auto: validate
  liquibase:
    change-log: classpath:/liquibase/liquibase-changeLog.xml

  main:
    allow-bean-definition-overriding: true

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  security:
    user:
      name: ${FLO_ACTUATOR_USER_NAME:sba-user}
      password: ${FLO_ACTUATOR_USER_PASSWORD:sba-user}
      roles: ${FLO_ACTUATOR_USER_ROLES:actuator}

logging:
  level:
    com.flo: INFO

management:
  info:
    git:
      mode: full
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS