{{name}} = {{^vendorExtensions.testModel}}{{#isArray}}listOf({{/isArray}}{{#isString}}"{{/isString}}{{{defaultValue}}}{{#isString}}"{{/isString}}{{#isArray}}){{/isArray}}{{/vendorExtensions.testModel}}{{#vendorExtensions.testModel}}{{#isArray}}listOf({{/isArray}}{{classname}}(
				{{#vars}}
					{{>app-module/src/test/kotlin/controller/apiTestVar}}{{^-last}},{{/-last}}
				{{/vars}}
				){{#isArray}}){{/isArray}}{{/vendorExtensions.testModel}}