{{name}} = {{^vendorExtensions.hasTestModel}}{{#isArray}}listOf({{/isArray}}{{#isString}}"{{/isString}}{{{defaultValue}}}{{#isString}}"{{/isString}}{{#isArray}}){{/isArray}}{{/vendorExtensions.hasTestModel}}{{#vendorExtensions.hasTestModel}}{{#isArray}}listOf({{/isArray}}{{#vendorExtensions.testModel}}{{classname}}(
				{{#vars}}
					{{>app-module/src/test/kotlin/controller/apiTestVar}}{{^-last}},{{/-last}}
				{{/vars}}
				){{/vendorExtensions.testModel}}{{#isArray}}){{/isArray}}{{/vendorExtensions.hasTestModel}}