{{#vendorExtensions.hasFilters}}
			val filter = {{vendorExtensions.filterClassName}}({{#vendorExtensions.filters}}{{filter}}{{#hasNext}}, {{/hasNext}}{{/vendorExtensions.filters}})
{{/vendorExtensions.hasFilters}}