, {{#vendorExtensions.hasFilterQuery}}mapOf({{#vendorExtensions.filterQueries}}"{{filter}}" to {{filter}}{{#hasNext}}, {{/hasNext}}{{/vendorExtensions.filterQueries}}){{/vendorExtensions.hasFilterQuery}}{{^vendorExtensions.hasFilterQuery}}null{{/vendorExtensions.hasFilterQuery}}