{{#operations}}{{#operation}}{{#vendorExtensions.mustBuildFilterClass}}
import {{appPackage}}.controller.filter.{{vendorExtensions.filterClassName}}
{{/vendorExtensions.mustBuildFilterClass}}{{/operation}}{{/operations}}