package {{appPackage}}.config

import org.springframework.context.annotation.Configuration
import org.springframework.context.annotation.Profile
import org.springframework.security.config.annotation.web.builders.HttpSecurity
import org.springframework.security.config.annotation.web.configuration.EnableWebSecurity

@Profile("secure")
@Configuration
@EnableWebSecurity
class {{appRealName}}SecurityConfig : FixedKeycloakConfigurerAdapter() {

	override fun configure(http: HttpSecurity) {
		super.configure(http)
		http
			.authorizeRequests()
			.antMatchers(
				"/clubs",
				"/clubs/*",
				"/clubs/*/members",
				"/clubs/*/members/*",
				"/parties/*/libraries",
				"/parties/*/libraries/*"
			).authenticated()
			.anyRequest().permitAll()
	}
}