@Suppress("DSL_SCOPE_VIOLATION")
plugins {
    id("flo.gradle.plugins.bundle") version "0.0.3-f269f7a"
    alias(libs.plugins.spring.boot.v2)
    jacoco
}

version = scmVersion.version

dependencies {
    implementation(project(":common"))
    implementation(libs.org.springframework.v2.spring.boot.starter.jdbc)
    implementation(libs.org.liquibase.core)
{{#h2OnDev}}
	implementation("com.h2database:h2:1.4.200")
{{/h2OnDev}}
{{^h2OnDev}}
	testImplementation("com.h2database:h2:1.4.200")
{{/h2OnDev}}

    testImplementation(kotlin("test"))
    testImplementation(libs.org.springframework.v2.spring.boot.starter.test)
    testImplementation(libs.org.springframework.v2.spring.boot.test)
}
