package {{basePackage}}.domain

import java.util.*
import javax.persistence.*
{{#entityHasUUID}}
import java.util.UUID
{{/entityHasUUID}}

@Embeddable
data class Identity(
        @Column(name = "id", insertable = false, updatable = false)
        var id: {{entityIdType}}? = null,

        @Column(name = "name")
        var name: String? = null,

        @Column(name = "description")
        var description: String? = null
)
